Header unset Pragma
FileETag None
Header unset ETag
 
# cache images/pdf docs for 10 days
<FilesMatch "\.(ico|pdf|jpg|jpeg|png|gif)$">
  Header set Cache-Control "max-age=864000, public, must-revalidate"
  Header unset Last-Modified
</FilesMatch>

# BEGIN GZIP
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>
# END GZIP



# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /sc9/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /sc9/index.php [L]
</IfModule>

# END WordPress


RewriteEngine on
RewriteBase /
RewriteRule ^blog/(.*) http://www.spacecadet9.com.com/ [R=301,L]